.container {
    border: 12px solid #6D213C;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

#top {
    padding: 40px;
    background-color: rgb(184, 163, 211);
}

img {
    border-radius: 50%;
}

#Menu {
    margin-top: 20px;
    padding-top: 20px;
    height: 270px;
    width: 200px;
    background-color: #DDA77B;
}

h1,
h2,
h3,
h5 {
    padding: 10px;
    color: #201f1f;
    margin-top: 20px;
}

#Name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    background-color: #DDA77B;
}

h3,
h5 {
    display: inline-block;
    background-color: #B594B6;
}

h1,
h2,
h3,
h5,
p {
    border-radius: 5px;
}

#body {
    text-align: center;
    font-size: 1.5vw;
    background-color: #fff2c5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(255, 236, 223);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
}

h3 {
    font-family:'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    color: rgb(10, 10, 10);
}

h5 {
    font-family:
    color: rgb(10, 10, 10);
}

.parent>ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    list-style-position: inside;
    /* Align the bullet points inside the list items */
}

/* CSS Styles for the form */
form {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select,
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for required fields */
form input:required,
form select:required,
form textarea:required {
    border: 2px solid rgb(51, 50, 50);
}

/* Style for optional fields */
form input:not(:required),
form select:not(:required),
form textarea:not(:required) {
    border: 1px solid #ffffff;
}